header.header
    a(href="#").header__home-page-link
        img(src="../../svg/lumaLogo.svg", alt="LUMA logo").header__home-page-logo
    div.header__wrapper
        nav.header__nav
            a(href="#").header__nav-link HOME
            a(href="#").header__nav-link OUR PRODUCTS
            a(href="#").header__nav-link ABOUT
            a(href="#").header__nav-link CONTACT
            a(href="#").header__nav-link BLOG
            a(href="#").header__nav-link STYLEGUIDE
            a(href="#").header__nav-link LICENSE
        a(href="").header__buy-cart
            img(src="../../images/dest/cart-icon.png", alt="buy cart").header__buy-cart-icon
            div.header__buy-cart-counter 0
        a(href="").header__nav-menu
            img(src="images/dest/menu-button.png", alt="").header__nav-menu-icon

