header.header
    a(href="#").header__logo
        img(src="svg/lumaLogo.svg", alt="luma logo")
    div.header__menu-panel
        nav.header__nav
            a(href="#").header__nav-link.nav-link HOME
            a(href="#").header__nav-link.nav-link OUR PRODUCTS
            a(href="#").header__nav-link.nav-link ABOUT
            a(href="#").header__nav-link.nav-link CONTACT
            a(href="#").header__nav-link.nav-link BLOG
            a(href="#").header__nav-link.nav-link STYLEGUIDE
            a(href="#").header__nav-link.nav-link LICENSE
        div.header__cart.cart
            img(src="images/dest/cart-icon.png", alt="cart").cart__icon
            div.cart__counter 0
        div.header__menu-button.menu-button
            img(src="images/dest/menu-button.png", alt="menu").menu-button__icon
