doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
            link(rel="stylesheet" , href="css/normalize.css")
    body.body.body--font-worksans
        block header
            include header
        block content
        block footer
            include footer
        block scripts
            //script(src='/app/js/app.min.js')