.header
    padding: 22px 36px
    display: flex
    justify-content: space-between
    align-items: center

.header__home-page-link
    &:hover
        opacity: 0.7

.header__wrapper
    display: flex
    align-items: center

.header__nav
    @include _990
        display: none

.header__nav-link
    margin:
        left: 10px
        right: 10px
    font-weight: 500
    font-size: 12px
    line-height: 26px
    color: $DARK

    &:hover
        opacity: 0.7

.header__buy-cart
    margin-left: 15px
    display: flex
    align-items: center

    &:hover
        opacity: 0.7

.header__buy-cart-icon
    width: 16px

.header__buy-cart-counter
    margin-left: 8px
    font-weight: 500
    font-size: 12px
    color: $DARK

.header__nav-menu
    display: none
    margin-left: 24px

    @include _990
        display: block

.header__nav-menu-icon
    vertical-align: middle
    width: 20px