// WorkSans Normal font
@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/Thin/WorkSans-Thin.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/Thin/WorkSans-Thin.woff") format('woff')
    font-weight: 100
    font-style: normal

@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/ExtraLight/WorkSans-ExtraLight.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/ExtraLight/WorkSans-ExtraLight.woff") format('woff')
    font-weight: 200
    font-style: normal

@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/Light/WorkSans-Light.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/Light/WorkSans-Light.woff") format('woff')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/Regular/WorkSans-Regular.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/Regular/WorkSans-Regular.woff") format('woff')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/Medium/WorkSans-Medium.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/Medium/WorkSans-Medium.woff") format('woff')
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/SemiBold/WorkSans-SemiBold.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/SemiBold/WorkSans-SemiBold.woff") format('woff')
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/Bold/WorkSans-Bold.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/Bold/WorkSans-Bold.woff") format('woff')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/ExtraBold/WorkSans-ExtraBold.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/ExtraBold/WorkSans-ExtraBold.woff") format('woff')
    font-weight: 800
    font-style: normal

@font-face
    font-family: 'WorkSans'
    src : url("/fonts/WorkSans/Regular_Fonts/Black/WorkSans-Black.woff2") format('woff2'),
    url("/fonts/WorkSans/Regular_Fonts/Black/WorkSans-Black.woff") format('woff')
    font-weight: 900
    font-style: normal
