extends ../common/layout
include index/shop-items.pug

block append head
    link(rel="stylesheet" , href="css/index.css")

block content
    main.content
        div.content__banner.banner
            h1.banner__title Stylish modern lighting options
            a(href="").banner__button.button.button--white.button--m-size
                span.button__text SHOP THE FALL COLLECTION
                img(src="svg/right-arrow.svg", alt="").button__right-arrow
        div.content__brands.brands
            img(src="svg/sony.svg", alt="Sony logo").brands__logo
            img(src="svg/webflow.svg", alt="Webflow logo").brands__logo
            img(src="svg/samsung.svg", alt="Samsung logo").brands__logo
            img(src="svg/logitech.svg", alt="Logitech logo").brands__logo
            img(src="svg/lenovo.svg", alt="Lenovo logo").brands__logo
            img(src="svg/waitrose.svg", alt="Waitrose logo").brands__logo
        article.content__favourite-products.favourite-products
            h2.favourite-products__title The right light can transform any environment
            div.favourite-products__item
                a(href="").favourite-products__item-wrapper
                    img(src="images/dest/BolaDisc.jpg", alt="").favourite-products__item-img
                    div.favourite-products__view-product-button.view-product-button.view-product-button--m-size.view-product-button--white VIEW PRODUCT
            div.favourite-products__item
                a(href="").favourite-products__item-wrapper
                    img(src="images/dest/BolaHalo.jpg", alt="").favourite-products__item-img
                    div.favourite-products__view-product-button.view-product-button.view-product-button--m-size.view-product-button--white VIEW PRODUCT
            p.favourite-products__author Meet the Belmont, by Pablo Designs
            p.favourite-products__description By fusing the highest technical sensibilities 
                                            | with the most appropriate material palette, 
                                            | Pablo is able to create unique, timeless designs 
                                            | with the power to transform any environment.
            a(href="").favourite-products__button.button.button--white.button--l-size.button--white-smoke-border.button--justify-space-between
                span.button__text DISCOVER MORE PRODUCTS
                img(src="svg/right-arrow.svg", alt="").button__right-arrow
        article.content__shop.shop
            h2.shop__title SHOP LIGHTING
            p.shop__description Stylish modern lighting options
            ul.shop__lightning-item-list
                +shop-item("images/dest/Giraffa.jpeg", "Giraffa", "Giraffa", "99.99")
                +shop-item("images/dest/Solis.jpeg", "Solis", "Solis", "79.99")
                +shop-item("images/dest/CornerOffice.jpeg", "Corner Office", "Corner Office", "190.00")
                +shop-item("images/dest/Cielo.jpeg", "Cielo", "Cielo", "89.99")
                +shop-item("images/dest/UmaMini.jpg", "Uma Mini", "Uma Mini", "155.99")(class="lightning-item__wrapper--on-sale")
                +shop-item("images/dest/Contour.jpg", "Contour", "Contour", "245.99")
                +shop-item("images/dest/Circa.jpg", "Circa", "Circa", "398.99")(class="lightning-item__wrapper--on-sale")
                +shop-item("images/dest/BolaSphere.jpg", "Bola Sphere", "Bola phere", "789.99")
                +shop-item("images/dest/BolaDisc.jpg", "Bola Disc", "Bola Disc", "1,125.99")(class="lightning-item__wrapper--featured")
                +shop-item("images/dest/Belmont.jpg", "Belmont", "Belmont", "717.99")
                +shop-item("images/dest/BelOcchio.jpg", "Bel Occhio", "Bel Occhio", "515.99")
                +shop-item("images/dest/BolaHalo.jpg", "Bola Halo", "Bola Halo", "159.99")(class="lightning-item__wrapper--featured")
            div.shop__button-wrapper
                a(href="").shop__button.button.button--dark.button--m-size
                    span.button__text.button__text--white VIEW ALL PRODUCTS
                    img(src="svg/right-arrow.svg", alt="").button__right-arrow.button__right-arrow--white
        div.content__scroll-background
        div.content__review-background-wrapper
            article.content__review.review
                img(src="images/dest/SolisFabric.jpg", alt="Solis Fabric").review__img-background
                div.review__wrapper
                    h2.review__title.label WHAT THEY SAY
                    blockquote.review__text “We’ve been long fans of the modern, yet inviting 
                                            | lighting that Pablo Designs has to offer.”
                div.review__button-wrapper
                    a(href="").review__button.button.button--dark.button--l-size.button--justify-space-between
                        span.button__text.button__text--white SHOP THE FALL COLLECTION
                        img(src="svg/right-arrow.svg", alt="").button__right-arrow.button__right-arrow--white
                div.review__background